@import '~theme/custom.scss';

.SearchBox {
  text-align: center;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  padding: $space*2 0;

  input {
    margin-bottom: $space;
  }

  button {
    width: 100%;
  }
}