@import '~theme/custom.scss';

.SearchBox {
  text-align: center;
  padding: $space*2 0;

  .container {
    max-width: 360px;
    margin: 0 auto;
  }

  input, button {
    margin-bottom: $space;
  }

  button {
    width: 100%;
  }
}