@import '~theme/custom.scss';

.User {
  padding: $space*4 $space;
  article {
    header {
      text-align: center;
      margin-bottom: $space*2;

      .avatar {
        img {
          max-width: 240px;
          border-radius: 50%;
        }
      }

      h3 {
        color: $grey-lighter;
        margin-top: 0;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: $space;

        li {
          display: inline-block;
          padding: 0 $space;
          border-right: 1px solid $grey-lighter;

          .label {
            color: $grey-light;
            text-transform: uppercase;
          }

          .number {
            font-weight: bold;
          }

          i {
            color: $grey-light;
          }

          &:last-child {
            border-right: none;
          }
        }

        &.stats {
          li {
            border-right: none;
            border: 1px solid $grey-lighter;
            border-radius: $space/3;
            padding: $space/2;
            margin-right: $space;
            margin-bottom: $space;

            &:last-child {
              margin-right: none;
            }
          }
        }
      }
    }

    .main {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-top: $space*2;
        margin-bottom: $space;

        li {
          display: inline-block;
          min-width: 200px;
          padding: $space;
          border-radius: $space/3;
          border: 1px solid $grey-lighter;
          margin-right: $space;
          margin-bottom: $space;

          .contributions {
            span {
              color: $grey-light;
            }
          }
        }
      }
    }
  }
}