@import '~theme/custom.scss';

.Repo {
  margin-bottom: $space*4;
  header {
    padding: $space*4 $space;
    background-color: $grey-lightest;

    .info {
      h3 {
        color: $grey-lighter;
        margin-top: 0;
      }

      p {
        margin-bottom: $space*3;
      }
    }

    .stats {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: $space;

        li {
          display: inline-block;
          border-right: none;
          border: 1px solid $grey-lighter;
          border-radius: $space/3;
          padding: $space/2;
          margin-right: $space;
          margin-bottom: $space;
          text-align: center;

          .label {
            color: $grey-light;
            text-transform: uppercase;
          }

          .number {
            font-weight: bold;
          }

          &:last-child {
            margin-right: none;
          }
        }
      }
    }
  }

  main {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        border-right: none;
        border: 1px solid $grey-lighter;
        border-radius: $space/3;
        margin-right: $space;
        margin-bottom: $space;
        cursor: pointer;
        color: $grey;
        @include transition(border .2s, color .2s);

        &:hover {
          border: 1px solid $grey;
          color: $text-color;
        }

        a {
          padding: $space/2;
          display: inline-block;
        }

        .avatar {
          display: inline-block;
          margin-right: $space/2;
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
        }

        .username {
          display: inline-block;
        }
      }
    }
  }
}